//
// Copyright 2017 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

@import "@lime-material/animation/variables";

$mdc-elevation-baseline-color: black !default;
$mdc-elevation-umbra-opacity: .2 !default;
$mdc-elevation-penumbra-opacity: .14 !default;
$mdc-elevation-ambient-opacity: .12 !default;

$mdc-elevation-umbra-map: (
  0: ".0rem .0rem .0rem .0rem",
  1: ".0rem .2rem .1rem -.1rem",
  2: ".0rem .3rem .1rem -.2rem",
  3: ".0rem .3rem .3rem -.2rem",
  4: ".0rem .2rem .4rem -.1rem",
  5: ".0rem .3rem .5rem -.1rem",
  6: ".0rem .3rem .5rem -.1rem",
  7: ".0rem .4rem .5rem -.2rem",
  8: ".0rem .5rem .5rem -.3rem",
  9: ".0rem .5rem .6rem -.3rem",
  10: ".0rem .6rem .6rem -.3rem",
  11: ".0rem .6rem .7rem -.4rem",
  12: ".0rem .7rem .8rem -.4rem",
  13: ".0rem .7rem .8rem -.4rem",
  14: ".0rem .7rem .9rem -.4rem",
  15: ".0rem .8rem .9rem -.5rem",
  16: ".0rem .8rem 1.0rem -.5rem",
  17: ".0rem .8rem 1.1rem -.5rem",
  18: ".0rem .9rem 1.1rem -.5rem",
  19: ".0rem .9rem 1.2rem -.6rem",
  20: ".0rem 1.0rem 1.3rem -.6rem",
  21: ".0rem 1.0rem 1.3rem -.6rem",
  22: ".0rem 1.0rem 1.4rem -.6rem",
  23: ".0rem 1.1rem 1.4rem -.7rem",
  24: ".0rem 1.1rem 1.5rem -.7rem"
) !default;

$mdc-elevation-penumbra-map: (
  0: ".0rem .0rem .0rem .0rem",
  1: ".0rem .1rem .1rem .0rem",
  2: ".0rem .2rem .2rem .0rem",
  3: ".0rem .3rem .4rem .0rem",
  4: ".0rem .4rem .5rem .0rem",
  5: ".0rem .5rem .8rem .0rem",
  6: ".0rem .6rem 1.0rem .0rem",
  7: ".0rem .7rem 1.0rem .1rem",
  8: ".0rem .8rem 1.0rem .1rem",
  9: ".0rem .9rem 1.2rem .1rem",
  10: ".0rem 1.0rem 1.4rem .1rem",
  11: ".0rem 1.1rem 1.5rem .1rem",
  12: ".0rem 1.2rem 1.7rem .2rem",
  13: ".0rem 1.3rem 1.9rem .2rem",
  14: ".0rem 1.4rem 2.1rem .2rem",
  15: ".0rem 1.5rem 2.2rem .2rem",
  16: ".0rem 1.6rem 2.4rem .2rem",
  17: ".0rem 1.7rem 2.6rem .2rem",
  18: ".0rem 1.8rem 2.8rem .2rem",
  19: ".0rem 1.9rem 2.9rem .2rem",
  20: ".0rem 2.0rem 3.1rem .3rem",
  21: ".0rem 2.1rem 3.3rem .3rem",
  22: ".0rem 2.2rem 3.5rem .3rem",
  23: ".0rem 2.3rem 3.6rem .3rem",
  24: ".0rem 2.4rem 3.8rem .3rem"
) !default;

$mdc-elevation-ambient-map: (
  0: ".0rem .0rem .0rem .0rem",
  1: ".0rem .1rem .3rem .0rem",
  2: ".0rem .1rem .5rem .0rem",
  3: ".0rem .1rem .8rem .0rem",
  4: ".0rem .1rem 1.0rem .0rem",
  5: ".0rem .1rem 1.4rem .0rem",
  6: ".0rem .1rem 1.8rem .0rem",
  7: ".0rem .2rem 1.6rem .1rem",
  8: ".0rem .3rem 1.4rem .2rem",
  9: ".0rem .3rem 1.6rem .2rem",
  10: ".0rem .4rem 1.8rem .3rem",
  11: ".0rem .4rem 2.0rem .3rem",
  12: ".0rem .5rem 2.2rem .4rem",
  13: ".0rem .5rem 2.4rem .4rem",
  14: ".0rem .5rem 2.6rem .4rem",
  15: ".0rem .6rem 2.8rem .5rem",
  16: ".0rem .6rem 3.0rem .5rem",
  17: ".0rem .6rem 3.2rem .5rem",
  18: ".0rem .7rem 3.4rem .6rem",
  19: ".0rem .7rem 3.6rem .6rem",
  20: ".0rem .8rem 3.8rem .7rem",
  21: ".0rem .8rem 4.0rem .7rem",
  22: ".0rem .8rem 4.2rem .7rem",
  23: ".0rem .9rem 4.4rem .8rem",
  24: ".0rem .9rem 4.6rem .8rem"
) !default;

// The css property used for elevation. In most cases this should not be changed. It is exposed
// as a variable for abstraction / easy use when needing to reference the property directly, for
// example in a `will-change` rule.
$mdc-elevation-property: box-shadow !default;

// The default duration value for elevation transitions.
$mdc-elevation-transition-duration: 280ms !default;

// The default easing value for elevation transitions.
$mdc-elevation-transition-timing-function: $mdc-animation-standard-curve-timing-function !default;
