//
// Copyright 2018 Google Inc.
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions://
//
// The above copyright notice and this permission notice shall be included in
// all copies or substantial portions of the Software.//
//
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
// THE SOFTWARE.
//

// Default styles
$mdc-top-app-bar-row-height: 6.4rem;
$mdc-top-app-bar-title-left-padding: 2.0rem;
$mdc-top-app-bar-section-vertical-padding: .8rem;
$mdc-top-app-bar-section-horizontal-padding: 1.2rem;

$mdc-top-app-bar-icon-padding: 1.2rem;
$mdc-top-app-bar-icon-size: 2.4rem;

$mdc-top-app-bar-mobile-breakpoint: 59.9rem !default;

// Default mobile styles
$mdc-top-app-bar-mobile-row-height: 5.6rem;
$mdc-top-app-bar-mobile-section-padding: .4rem;

// Short top app bar
$mdc-top-app-bar-short-collapsed-border-radius: .4rem;
$mdc-top-app-bar-short-collapsed-width: 5.6rem;
$mdc-top-app-bar-short-collapsed-right-icon-padding: 1.2rem;

// Prominent styles
$mdc-top-app-bar-prominent-row-height: 12.8rem;
$mdc-top-app-bar-prominent-title-bottom-padding: .2rem;

// Prominent mobile styles
$mdc-top-app-bar-prominent-mobile-title-bottom-padding: .6rem;

// Dense styles
$mdc-top-app-bar-dense-row-height: 4.8rem;
$mdc-top-app-bar-dense-section-horizontal-padding: .4rem;
$mdc-top-app-bar-dense-title-left-padding: 1.2rem;

// Dense & Prominent styles
$mdc-top-app-bar-prominent-dense-title-bottom-padding: .9rem;
